apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::666930281169:role/devops-node-group-eks-node-group-20251129143313923000000001
      username: system:node:{{EC2PrivateDNSName}}
      groups:
        - system:bootstrappers
        - system:nodes

  mapUsers: |
    - userarn: arn:aws:iam::666930281169:root
      username: admin
      groups:
        - system:masters

    - userarn: arn:aws:iam::666930281169:user/GitHub-Actions
      username: github-actions
      groups:
        - system:masters