apiVersion: apps/v1
kind: Deployment
metadata:
  name: eks-devops-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: eks-devops-app
  template:
    metadata:
      labels:
        app: eks-devops-app
    spec:
      containers:
      - name: eks-devops-app
        image: 666930281169.dkr.ecr.ap-south-1.amazonaws.com/devops:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "150m"
            memory: "256Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"
